@import url("https://fonts.googleapis.com/css2?family=Ubuntu&family=Varela+Round&display=swap");

body {
  background-color: antiquewhite;
}

* {
  margin: 0;
  padding: 0;
}
nav {
  font-family: "Ubuntu", sans-serif;
}
nav ul {
  display: flex;
  align-items: center;
  list-style-type: none;
  height: 45px;
  background-color: black;
  color: white;
}
nav ul li {
  padding: 0 12px;
}
nav ul li a {
  text-decoration: none;
  color: white;
}
nav ul li a:hover {
  text-decoration: none;
  color: white;
  font-weight: 600;
}
.brand img {
  width: 30px;
  padding: 0 8px;
}
.brand {
  display: flex;
  align-items: center;
  font-weight: bolder;
  font-size: 1.3rem;
}
.container {
  min-height: 63vh;
  background-color: black;
  color: white;
  font-family: "Varela Round", sans-serif;
  display: flex;
  margin: 15px auto;
  width: 70%;
  border-radius: 12px;
  padding: 25px;
  background-image: url("bg.png");
  background-size: 900px;
}
.bottom {
  position: sticky;
  height: 85px;
  background-color: black;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  flex-direction: column;
}
.icons {
  margin: 10px;
}
.icons i {
  margin: 0px 10px;
  cursor: pointer;
}
#myProgressBar {
  width: 80vw;
  cursor: pointer;
  /* text-align: center; */
}
.songItemContainer {
  margin-top: 50px;
}
.songItem {
  height: 30px;
  display: flex;
  background-color: white;
  /* width: 80%; */
  color: black;
  margin: 12px 0;
  justify-content: space-between;
  align-items: center;
  border-radius: 20px;
}
.songItem img {
  width: 25px;
  margin: 0 15px;
  border-radius: 15px;
}
.timestamp {
  margin: 0 10px;
}
.timestamp i {
  padding: 0 15px;
  cursor: pointer;
}
.songInfo {
  position: absolute;
  left: 10vw;
  display: flex;
  align-items: center;
  font-family: "Varela Round", sans-serif;
  /* justify-content: center; */
  /* width: 20px; */
}
.songInfo p {
  margin: 0 10px;
}
.songInfo img {
  opacity: 0;
  transition: opacity 0.5s ease-in;
}
.volume {
  position: absolute;
  right: 10vw;
  display: flex;
  align-items: center;
}
.volume {
  margin-top: 10px;
}
.volume i {
  margin: 5px;
}
.volume input {
  margin: 5px;
}
#myVolumeBar {
  cursor: pointer;
  width: 10vw;
}
